.aboutus {
	padding: 1rem 0 1rem 1rem;
	h2 {
		@include title__iii;
	}
	&.dark {
		order: 2;
	}
	&.leistungen {
		@include xl {
			flex: 50%;
		}
	}

	&.kontakt{
		flex: 100%;
		padding: initial;
		@include md {
			display: flex;
			flex-wrap: wrap;
			> * {
				flex: 50%;
			}
		}
		@include xl {
			padding: 3rem 0;
		}
	}

	&__quote {
		padding: 1rem 0;

		&--person {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;
			color: $copper;
			padding: 6px 0;
		}
	}
}