.aboutus {
	padding: 1rem 0 1rem 1rem;
	h2 {
		@include title__iii;
	}
	&.dark {
		order: 2;
	}

	&__quote {
		padding: 1rem 0;

		&--person {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;
			color: $copper;
			padding: 6px 0;
		}
	}
}