button {
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.rewice__button{
	padding: 6px 30px;
	border: 1px solid $copper;
	border-radius: 40px;
	color: $copper;
	display: inline-block;
	transition: .35s all;
	margin: 1.6rem 0;
	background: transparent;

	&:hover{
		background: $gradient;
		color: #fff;
		transition: .35s all;
	}

	&--action {
		height: 32px;
		padding: 0;
		img {
			height: 32px;
		}
	}
}
