.footer {
	margin: 0 5%;
	border-top: 2px solid $copper;
	display: flex;
	justify-content: space-between;
	padding: 24px 0;

	@include md {
		padding: 24px;
	}

	&__block{
		&__routers{
			padding-bottom: 1rem;
			text-align: right;
		}
		&__contact{
			display: flex;
			justify-content: flex-end;
			flex-direction: column;

			> * {
				padding: 0;
				margin-right: 0;
			}

			@include md {
				flex-direction: row;
			}
		}
	}
}